body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 200px;
    padding: 15px;
    text-align: center;
}

.card img {
    max-width: 100%;  /* Limite la largeur de l'image à la largeur du conteneur */
    max-height: 300px; /* Limite la hauteur de l'image à 300px */
    width: auto;      /* Maintient le ratio de l'image */
    height: auto;     /* Maintient le ratio de l'image */
}

.card h2 {
    font-size: 1.2em;
    margin-top: 10px;
}

.card p {
    margin: 5px 0;
}
